[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/multiplecursors"]
	path = bundle/multiplecursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/markdown-utils"]
	path = bundle/markdown-utils
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/lua-support"]
	path = bundle/lua-support
	url = https://github.com/xolox/vim-lua-ftplugin
[submodule "bundle/misc"]
	path = bundle/misc
	url = https://github.com/xolox/vim-misc
[submodule "bundle/lua-inspect"]
	path = bundle/lua-inspect
	url = https://github.com/xolox/vim-lua-inspect
